/* ============Tablet=============== */

@media (max-width: 992px) {
  .navbar-list {
    flex-direction: column;
  }

  .hero {
    display: flex;

    padding-top: 30px;
  }
  .hero-info h1 {
    text-align: center;
  }

  .hero-info h4 {
    text-align: center;
  }
  .hero-info p {
    text-align: center;
  }

  .imgvkg {
    width: 150px;
  }

  .desctxt {
    width: 700px;
  }

  .cards-planes {
    width: 500px;
  }
}

/* ============Celular============== */

@media (max-width: 372px) {
  .navbar-list {
    position: absolute;
    top: 75px;
    width: 90%;
    left: 5%;
    right: 5%;
    border: 3px solid var(--rojovkg);
    border-top: 0;
    background-color: rgb(32, 31, 31);
    border-radius: 0px 0px 15px 15px;
    gap: 20px;
    align-items: flex-end;
    padding: 20px;
    display: none;
  }

  .menu-label {
    display: flex;
    font-size: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
  }

  #toggle-menu:checked + .navbar-list {
    display: flex;
  }

  .infodesc {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .desctxt {
    width: 200px;
    display: flex;
    justify-content: center;
  }

  .categories h1 {
    justify-content: center;
  }
}
